.customizer {
    zoom: 1;
    margin-top: 1em;
    /* border: 2px solid yellow; */
}

.product-image {
    max-width: 66%;
    /* border: 1px solid purple; */
}

.product-image img {
    max-width: 100%;
}

.select-group {
    width: 100%;
    text-align: left;
    margin-bottom: 0.5em;
    /* border: 1px solid rgb(53, 6, 107); */
}

.select-group label {
    margin-right: 0.5em;
    font-weight: 700;   
}

.select-group select {
    text-transform: capitalize;
}

.select-group select#color-options {
    min-width: 61px;
}

/* Media Queries
------------------------------------*/
@media screen and (min-width: 40em) {
    .customizer {
        max-width: 50em;
        margin: 0 auto;
        display: flex;
    }
}

@media screen and (min-width: 40em) {
    .selector {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}