/* Global Styles
------------------------------------*/
body {
    margin: 0;
    padding: 0;
    color: #222;
    background: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, p, img, big, small, li, ol, ul, label, form, button, table, caption, tr, th, td {
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: left;
}

