/* Global Styles
------------------------------------*/
body {
    margin: 0;
    padding: 0;
    color: #222;
    background: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    height: auto;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, img, big, small, li, ol, ul, label, form, button, table, caption, tr, th, td {
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: left;
}

a {
    text-decoration: none;
    outline: none;    
}

/* Header Styles
------------------------------------*/
.header {
    border-top: 4px solid #fac769;
    border-bottom: 1px solid #ddd;
    padding: 40px 0;
}

.header-inner {
    position: relative;
    width: 1300px;
    max-width: 84%;
    height: 42px;
    margin: 0 auto;
}

.logo {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px;
}

.logo img {
    display: block;
    height: 80px;
    width: auto;
}

.main-nav {
    margin-top: 2px;
    float: right;
    list-style: none;
}

.main-nav li {
    float: left;
    margin: 0 10px 0 0 ;
    position: relative;
}

.main-nav a {
    display: block;
    padding: 13px 15px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #444444;
}

.main-nav .current-menu a{
    border-radius: 3px;
    color: #fff;
    background-color: #fac769;
}

/* Main Styles
------------------------------------*/
.post {
    position: relative;
    padding-bottom: 80px;
}

.content-inner {
    width: 1300px;
    max-width: 84%;
    margin: 0 auto;
    font-family: 'Crimson Text', 'Times New Roman', serif;
    font-size:1.25em;
}

.main-content {
    padding-top: 1.5em;
}

.content h2 {
    margin: 0 0 0.5em;
    font-family: 'Open Sans', sans-serif;
    line-height: 120%;
}

.content p {
    line-height: 160%;
    margin-bottom: 1.3em;
}

/* Footer
------------------------------------*/
.footer {
    border-top: 1px solid #ddd;
    padding: 50px 0 30px 0;
}

.footer-inner {
    width: 1300px;
    max-width: 84%;
    margin: 0 auto;
}

.column {
    width: 30%;
    float: left;
    margin-right: 3%;
}

.footer h6 {
    font-size: 0.9em;
    font-weight: 100;
    line-height: 1.5em;
}

.footer ul {
    list-style: none;
}

.footer ul li{
    padding: 4px;
    display: inline-block;
}

.socicon {
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 3em;
    width: 3em;
    border-radius: 3px;
    background-color: #fac769;
}

.clear {
    clear: both;
}

.copyright{
    border-top: 1px solid #ddd;
    padding: 30px 0 50px;  
}

.copyright-inner{
    width: 1300px;
    max-width: 84%;
    margin: 0 auto;
    text-align: center;
}

.copyright-inner p {
    text-align: right;
}


/* Media Queries
------------------------------------*/
@media (min-width: 440px){
    .item {
        display: inline-block;
        width: 100%;
        margin: 1em 2.2%;
        vertical-align: top;
    }
}

